{% extends "index.html" %} 
{% block content %}
<h3 style="text-align: center; padding: 20px;">Top 50 Results</h3>
<h1>Export CSV</h1>
<form action="/export_csv">
    <button type="submit">Export CSV</button>
</form>
<div class="talbe-responsive">
<table>
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
      <th scope="col">Summary</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for item in filteredsorted_results %}
        <td >{{ item.Product }}</td>
        <td >{{ item.Category }}</td>
        <td >{{ item.Price }}</td>
        <td >{{ item.Stars  }}</td>
        <td >{{ item.Summary }}</td>
        <td style ="white-space: normal;" ><a href ="{{ item.URL }}" > Link</a></td>      
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}

