{% extends "index.html" %} 
{% block content %}
<h3 style="text-align: center; padding: 20px;">Top 50 Results</h3>

<form action="/export_csv">
    <button type="submit">Export Search Results</button>
</form>
<div class="table-responsive" style="margin-top: 10px;">
<table>
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">URL</th>
      <th scope="col">Stars</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for item in filteredsorted_results %}
      <td > <a href ="search/{{item.ASIN}}">{{ item.Product }}</a></td>
        <td >{{ item.Category }}</td>
        <td >{{ item.Price }}</td>
        <td style ="white-space: normal;" ><a href ="{{ item.URL }}" > ProductLink</a></td>     
        <td >{{ item.Stars  }}</td>
        <td >{{ item.Summary }}</td>
         
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}

